.user{
    display: flex;
    flex-direction: column;
}


.profile-img{
    width :180px;
    height: 180px;
    background-color : gray;
    border-radius: 50%;
    text-align: center;
}

img{
    width :180px;
    height : 180px;
    object-fit : cover;
    border-radius: 50%;
}